<div>
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators"></ol>
        <!-- 廣告輪播列表 -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="#">
                    <img src="images/landing-s.jpg" data-color="#eee">
                    <div class="carousel-caption">
                        <h3>為產品使用者帶來笑容，是我們身為製造商最大的使命</h3>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="images/landing-2.jpg" data-color="#eee">
                    <div class="carousel-caption">
                        <h3>開發、製造至交貨，<br>
                            以長年培養出的高品質生產基準，<br>
                            來承接不論小量或大量的生產。</h3>
                    </div>
                </a>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">前一篇</span>
        </a>
        <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">下一篇</span>
        </a>
    </div>

    <!--<div class="landing container">
            <div class="row">
                <div class="slogen col-md-12 text-center"><h3>製品の向こうに笑顔が見える確かな物づくり</h3></div>
            </div>
        </div>-->

    <section class="odm container">
        <div class="row same-div-height">
            <div class="col-md-6 text-center">
                <h2>ODM/OEM</h2>
                <h3>（原廠委託設計/原廠委託製造）</h3>
                <h3>日本林製作所ODM/OEM產品開發的實力</h3>
                <hr>
                <h4>開發、製造至交貨，<br>
                    以長年培養出的高品質生產基準，<br>
                    來承接不論小量或大量的生產。</h4>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 center">
                <div class="blackcard">
                    <h3>ODM</h3>
                </div>
                <div class="greencard">
                    <p>從頭到尾包辦，從產品的企劃、設計、品質管理、生產製造到交貨。</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 center">
                <div class="blackcard">
                    <h3>OEM</h3>
                </div>
                <div class="greencard">
                    <p>用心製造，達成貴公司的設計、規格與對品質期待。</p>
                </div>
            </div>
        </div>
    </section>

    <section class="craftsmanship container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h2>Craftsmanship</h2>
                <h3>日本林製作所的生產流程</h3>
                <hr>
                <h4>從發開到製造，一條龍式順暢無阻的生產流程！</h4>
            </div>
        </div>
        <div class="step-line row">
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepicon">
                    <h1><i class="far fa-comments"></i></h1>
                </div>
                <div class="steptimeitem">洽詢</div>
            </div>
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepbutton">STEP 1</div>
                <div class="steptimeitem">提案會議</div>
            </div>
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepbutton">STEP 2</div>
                <div class="steptimeitem">提出設計手稿</div>
            </div>
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepbutton">STEP 3</div>
                <div class="steptimeitem">CAD立體圖製作</div>
            </div>
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepbutton">STEP 4</div>
                <div class="steptimeitem">樣品試作</div>
            </div>
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepbutton">STEP 5</div>
                <div class="steptimeitem">報價與訂貨</div>
            </div>
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepbutton">STEP 6</div>
                <div class="steptimeitem">生産</div>
            </div>
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepbutton">STEP 7</div>
                <div class="steptimeitem">交貨</div>
            </div>
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepicon">
                    <h1><i class="fas fa-clipboard-list"></i></h1>
                </div>
                <div class="steptimeitem">完成</div>
            </div>
        </div>
        <input type="button" class="button-main" value="查看詳情" onclick="location.href='odmoem/odmoem.html'">
</div>
</section>

<section class="products container">
    <div class="row">
        <div class="col-md-12">
            <h2>Products</h2>
            <h3>日本林製作所的自家產品</h3>
            <hr>
            <h4>多年經驗的技術累積，<br>
                秉持日本的對品質在意的職人精神，<br>
                提供高品質的自家產品。</h4>
            <br>
            <input type="button" class="button-main" value="查看商品" onclick="location.href='products/index.html'">
        </div>
    </div>

</section>

<section class="company container">
    <div class="row">
        <div class="col-md-12">
            <h2>Company</h2>
            <h3>林製作所</h3>
            <hr>
            <div class="company-p col-md-6 col-sm-8 col-xs-12">
                <h4>創業70年，日本林製作所以顧客需求為出發點來研發製作產品，藉此為世界上人們的生活與文化做貢獻。
                    我們重視創造力與獨創性，並致力於開發機能性高、可適用於各種環境的產品。注重與客戶、社員、合作工廠相互的溝通，珍惜每一段合作關係。以開發製作國際化新穎設計產品的製作公司為目標而努力。
                    <br><br>另外，以『為人們與居住環境的未來帶來貢獻』的經營視野，展開事業規劃。生命、安全、法規、社會倫理皆為最優先考慮的基本原則，重視與環境、人權、社區的調和，成為在健全制度下高品質經營的企業，是我們的永久目標。
                </h4>
            </div>
            <div class="col-md-6 col-sm-4 col-xs-12"><img class="img-responsive img-rounded" src="images/shakehand.jpg">
            </div>
        </div>
    </div>
</section>

<div class="news">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 ol-xs-12 center-col center-text">
                <div class="newsbutton center align-items-center">新訊</div><br>
                <p>掌握日本林製作所（台灣分店）的最新資訊<br>
                    追蹤我們的臉書粉專、IG和LINE@吧！</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 center-col center-text">
                <a href="https://www.facebook.com/hayashi.yumeita" target="_blank">
                    <h2><i class="fab fa-facebook-square"></i></i></h2>
                </a>
                <p>Facebook：<br>Hayashi 日本林製作所</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 center-col center-text">
                <a href="https://www.instagram.com/hayashi_taiwan" target="_blank">
                    <h2><i class="fab fa-instagram"></i></i></h2>
                </a>
                <p>Instagram：<br>hayashi_taiwan</p>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-4 center-col center-text">
                <a href="http://line.me/ti/p/@727zlfyo" target="_blank">
                    <h2><i class="fab fa-line"></i></i></h2>
                </a>
                <p>Line@：<br>727zlfyo</p>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>

</div>