<div>
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators"></ol>
        <!-- 廣告輪播列表 -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <a href="#">
                    <img src="images/landing-s.jpg" data-color="#eee">
                    <div class="carousel-caption">
                        <h3>製品の向こうに笑顔が見える確かな物づくり</h3>
                    </div>
                </a>
            </div>
            <div class="item">
                <a href="#">
                    <img src="images/landing-2.jpg" data-color="#eee">
                    <div class="carousel-caption">
                        <h3>長年に渡り培った独自の品質基準のもと、<br>
                            小ロットから海外生産を行っています。</h3>
                    </div>
                </a>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">前</span>
        </a>
        <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">次</span>
        </a>
    </div>

    <!--<div class="landing container">
            <div class="row">
                <div class="slogen col-md-12 text-center"><h3>製品の向こうに笑顔が見える確かな物づくり</h3></div>
            </div>
        </div>-->

    <section class="odm container">
        <div class="row same-div-height">
            <div class="col-md-6 text-center">
                <h2>ODM/OEM </h2>
                <h3>林製作所ODM/OEMの実力</h3>
                <hr>
                <h4>長年に渡り培った独自の品質基準のもと、<br>
                    小ロットから海外生産を行っています。</h4>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 center">
                <div class="blackcard">
                    <h3>ODM</h3>
                </div>
                <div class="greencard">
                    <p>製品の企画、デザイン、設計、品質管理、生産製造まで一貫して行います。</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 center">
                <div class="blackcard">
                    <h3>OEM</h3>
                </div>
                <div class="greencard">
                    <p>御社の設計、仕様、品質レベルにて生産製造を行います。</p>
                </div>
            </div>
        </div>
    </section>

    <section class="craftsmanship container">
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <h2>Craftsmanship</h2>
                <h3>林製作所のものづくり</h3>
                <hr>
                <h4>開発から製造までをノンストップで行う事が出来ます！</h4>
            </div>
        </div>
        <div class="step-line row">
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepicon">
                    <h1><i class="far fa-comments"></i></h1>
                </div>
                <div class="steptimeitem">お問合わせ</div>
            </div>
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepbutton">STEP 1</div>
                <div class="steptimeitem">打合せ</div>
            </div>
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepbutton">STEP 2</div>
                <div class="steptimeitem">デザイン提出</div>
            </div>
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepbutton">STEP 3</div>
                <div class="steptimeitem">CAD作成</div>
            </div>
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepbutton">STEP 4</div>
                <div class="steptimeitem">試作</div>
            </div>
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepbutton">STEP 5</div>
                <div class="steptimeitem">見積り・ご発注</div>
            </div>
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepbutton">STEP 6</div>
                <div class="steptimeitem">生産</div>
            </div>
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepbutton">STEP 7</div>
                <div class="steptimeitem">納品</div>
            </div>
            <div class="steptimeline col-md-1.2 col-xs-12">
                <div class="stepicon">
                    <h1><i class="fas fa-clipboard-list"></i></h1>
                </div>
                <div class="steptimeitem">完成</div>
            </div>
        </div>
        <input type="button" class="button-main" value="詳細はこちら" onclick="location.href='odmoem/odmoem.php'">
</div>
</section>

<section class="products container">
    <div class="row">
        <div class="col-md-12">
            <h2>Products</h2>
            <h3>林製作所の自社商品</h3>
            <hr>
            <h4>長年に渡り培った独自技術を活用した、<br>
                高品質な自社商品を提供します！</h4>
            <br>
            <input type="button" class="button-main" value="詳細はこちら" onclick="location.href='products/index.html'">
        </div>
    </div>

</section>

<section class="company container">
    <div class="row">
        <div class="col-md-12">
            <h2>Company</h2>
            <h3>林製作所</h3>
            <hr>
            <div class="company-p col-md-6 col-sm-8 col-xs-12">
                <h4>林製作所は、創業70年の歴史を持ち長年にわたり、お客様本位の製品づくりを通して、世界の人々の生活・文化へ貢献することを経営理念に掲げ、創造力と独創性を重んじ、優れた環境調和型商品の開発に取り組み、取引先・社員・協力工場を大切にする、世界に向けたニューデザイン・マニュファクチャーカンパニーを目指しています。
                    <br><br>また、『人と居住空間の未来に貢献する』という経営ビジョンをもって事業活動を展開し、生命・安全とコンプライアンス（法令、社会規範、倫理の遵守）を最優先するという基本方針のもと、環境・人権・地域社会との調和を重視した地球内企業として、健全で質の高い経営の実現をめざしています。
                </h4>
            </div>
            <div class="col-md-6 col-sm-4 col-xs-12"><img class="img-responsive img-rounded" src="images/shakehand.jpg">
            </div>
        </div>
    </div>
</section>

<div class="news">
    <div class="container">
        <div class="row">
            <div class="news-p col-md-3 col-md-3">
                <div class="newsbutton center align-items-center">NEWS</div>
            </div>

            <table class="col-md-8 newstable table-condensed">
                <tr>
                    <td class="td1">2019.08.01</td>
                    <td class="td2">></td>
                    <td class="td3">林製作所は、お客様本位の製品づくりを通して、世界の人々の生活・文化へ貢献することを経営理念に掲げています。</td>
                </tr>
                <tr>
                    <td class="td1">2019.08.01</td>
                    <td class="td2">></td>
                    <td class="td3">林製作所は、お客様本位の製品づくりを通して、世界の人々の生活・文化へ貢献することを経営理念に掲げています。</td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="clearfix"></div>

</div>
