<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="林製作所は長年に渡り培った独自の品質基準のもと、小ロットから海外生産を行っています。製品の企画、デザイン、設計、品質管理、生産製造まで一貫して行います。">
    
    <title>ODM/OEMメーカー　林製作所 | 製品情報</title>

    <script src="../styles/jquery.min.js"></script>
    <script src="../styles/bootstrap/js/bootstrap.min.js"></script>
    <script src="../styles/style.js"></script>
    <link rel="stylesheet" href="../styles/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/style.css">
    <script type="text/javascript">

        $(".headerPage").load("../header.html");
        
        $(".footerPage").load("../footer.html");
        
    </script>
</head>
<body>
    <div class="headerPage"></div>
    <div id="mycarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators"></ol>
            <!-- 廣告輪播列表 -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <a href="../acrylic/index.html" target="_blank">
                        <img src="../images/banner/products-1.jpg" data-color="#eee">
                        <div class="carousel-caption">
                            <h1>飛沫感染防止アクリルスクリーン</h1>
                            <hr>
                            <h3>５㎜厚のアクリル板を使用<br>
                                安定性バツグン！</h3>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="#" target="_blank">
                        <img src="../images/banner/products-2.jpg" data-color="#eee">
                        <div class="carousel-caption">
                            <h1>ZIP LINK II</h1>
                            <hr>
                            <h3>簡単組み立てで、<br>
                                レイアウトが自由自在！</h3>
                        </div>
                    </a>
                </div>
            </div>
        
          <!-- Controls --> 
            <a class="left carousel-control" href="#mycarousel" role="button" data-slide="prev"> 
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> 
                <span class="sr-only">前</span> 
            </a> 
            <a class="right carousel-control" href="#mycarousel" role="button" data-slide="next"> 
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> 
                <span class="sr-only">次</span> 
            </a>
    </div>
    <div>       
        <div class="container">
        <p>ホーム > 製品情報</p>
        </div>
        <section class="container">
           
                <div class="text-center">
                    <h3>製品情報</h3>
                    <h4 class="odm-tittle">Products</h4>
                </div>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 cards">
                    <div class="whitecard-none">
                        <div class="products-top">
                            <div><img class="products-top-img" src="../images/products/partition.jpg"></div>
                            <h4 class="products-top-tittle">パーティション</h4>
                        </div>
                        <hr class="green-hr">
                        <a href="partition/ziplink/index.html"><h4>ZIP LINKパーティション</h4></a>
                        <h4>連結スクリーン</h4>
                        <h4>防災用スクリーン</h4>
                        <h4>スチールパーティション</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 cards">
                    <div class="whitecard-none">
                        <div class="products-top">
                            <div><img class="products-top-img" src="../images/products/desktop-panel.jpg"></div>
                            <h4 class="products-top-tittle">デスクトップパネル</h4>
                        </div>
                        <hr class="green-hr">
                        <h4>アクリル製</h4>
                        <h4>スチール製</h4>
                        <h4>その他</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 cards">
                    <div class="whitecard-none">
                        <div class="products-top">
                            <div><img class="products-top-img" src="../images/products/around-desk.jpg"></div>
                            <h4 class="products-top-tittle">デスク周り収納</h4>
                        </div>
                        <hr class="green-hr">
                        <a href="around-desk/file-wagon.html"><h4>ファイルワゴン</h4></a>
                        <h4>机上ラック</h4>
                        <h4>マルチラック</h4>
                        <h4>配線ボックス</h4>
                        <h4>配線ダクト</h4>
                        <h4>その他</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 cards">
                    <div class="whitecard-none">
                        <div class="products-top">
                            <div><img class="products-top-img" src="../images/products/office-accessories.jpg"></div>
                            <h4 class="products-top-tittle">オフィスアクセサリー</h4>
                        </div>
                        <hr class="green-hr">
                        <h4>新聞掛け/マガジンラック</h4>
                        <h4>パンフレッドスタンド</h4>
                        <h4>案内板</h4>
                        <h4>コートハンガー</h4>
                        <h4>傘立て/スリッパラック</h4>
                        <h4>電話台</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 cards">
                    <div class="whitecard-none">
                        <div class="products-top">
                            <div><img class="products-top-img" src="../images/products/oa.jpg"></div>
                            <h4 class="products-top-tittle">OA機器収納</h4>
                        </div>
                        <hr class="green-hr">
                        <h4>プロジェクタースタンド</h4>
                        <h4>プリンター台</h4>
                        <h4>パソコンラック</h4>
                        <h4>ホワイトボード</h4>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 cards">
                    <div class="whitecard-none">
                        <div class="products-top">
                            <div><img class="products-top-img" src="../images/products/medical.jpg"></div>
                            <h4 class="products-top-tittle">医療・福祉関連</h4>
                        </div>
                        <hr class="green-hr">
                        <h4>脱衣ワゴン</h4>
                        <h4>アルコールポンプスタンド</h4>
                        <h4>受付用品</h4>  
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 cards">
                    <div class="whitecard-none">
                        <div class="products-top">
                            <div><img class="products-top-img" src="../images/products/table.jpg"></div>
                            <h4 class="products-top-tittle">デスク・テーブル</h4>
                        </div>
                        <hr class="green-hr">
                        <h4>昇降テーブル</h4>
                        <h4> </h4>
                        <h4> </h4>
                        <h4> </h4>
                    </div>
                </div>

            </div>
         
        </div>

    <div class="footerPage"></div>
</body>
</html>